/* input[type="file"] {
    display: none;
} */

html {
  overflow-x: hidden;
}

.upload-image>label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* Stile per l'alert personalizzato */
.custom-alert {
  background-color: #335c67;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #26444d;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
  animation: slideInDown 0.5s ease;
}

.custom-alert form {
  margin-top: 10px;
}

/* Animazione per l'alert */
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Stile per l'immagine dell'articolo */
.revisor-container {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;

}

.article-image {
  overflow: hidden;
  border-radius: 4px;
  animation: fadeInLeft 1s ease;
  /* Animazione aggiunta */
}

.article-image img {

  height: auto;
  display: block;
}


.carousel-2 {
  height: 400px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%335c67' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%335c67' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  /* background-color: #335c67;
    border-radius: 50%; */
}

.carousel-indicators {}

/* Animazione per l'immagine */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    /* Partenza da sinistra */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* Arrivo al centro */
  }
}

/* Stile per i dettagli dell'articolo */
.article-details {
  padding: 20px;
  animation: slideInRight 0.5s ease;
}

.article-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-details p {
  margin-bottom: 15px;
}

.article-details .author {
  font-style: italic;
}

/* Animazione per i dettagli dell'articolo */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Stile per i bottoni di azione */
.article-actions {
  margin-top: 20px;
}

/* Bottoni in una riga orizzontale */
.article-actions .btn {
  margin-right: 10px;
  /* Spazio tra i bottoni */
  border-radius: 4px;
  /* Bordo arrotondato */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.article-actions .btn span {
  position: relative;
  z-index: 2;
}

.tags {
  background-color: #ffb303;
  opacity: 0.9;
  color: #081828;
  border-radius: 4px;
  justify-content: center;
}

.btn-danger-custom {
  background-color: #d32f2f !important;
  border-radius: 4px;
  padding: 10px 26px !important;
}



/* Stile per il bottone Torna alla homepage */
.btn-primary {
  background-color: #5830e0;
  /* Colore principale */
  border-color: #5830e0;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #4e29cc;
  border-color: #4e29cc;
}

.btn-link {
  color: inherit;
  text-decoration: none;
}

/* Stile per il messaggio Nessun articolo da revisionare */
.no-article {
  text-align: center;
  margin-top: 50px;
}

.no-article h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.no-article .btn-primary {
  margin-top: 10px;
}

/* ------------------------- */

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
  padding: 10px;
}

.list-hover-custom {
  padding-left: 10px;
  padding-right: 10px;
}

.list-hover-custom:hover {
  color: rgb(228, 228, 228);
  background-color: #5830e0;

}

.loader {
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #d32f2f;
  color: white;
  animation: 1.5s pulse infinite ease-in-out;
}

.loader-navbar {
  text-align: center;
  height: 20px;
  width: 20px;
  font-size: small !important;
  border-radius: 50%;
  background-color: #d32f2f;
  color: white;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #d32f2f;
  }

  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}

/* LOADER REVISION */

.spinner {
  --clr: #ffba00;
  --gap: 6px;
  /* gap between each circle */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.spinner span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {

  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}

/* LAVORA CON NOI */

.bg-custom {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 7px;
}


.label-custom {
  font-size: 1.2rem;
  color: rgb(14, 14, 14);
}

/* Bottone Wishlist */
.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 32px;
  height: 32px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked~.checkmark .filled {
  display: block
}

.con-like .like:checked~.checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.btn-wishlist>button {
  background: none;
  border: none;
}

/* Background animato */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #335c67;
  overflow: hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 29%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 53%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 3s;
}

.background li:nth-child(2) {
  left: 52%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 3s;
}

.background li:nth-child(3) {
  left: 63%;
  width: 172px;
  height: 172px;
  bottom: -172px;
  animation-delay: 5s;
}

.background li:nth-child(4) {
  left: 2%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 2s;
}

.background li:nth-child(5) {
  left: 13%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 14s;
}

.background li:nth-child(6) {
  left: 20%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 14s;
}

.background li:nth-child(7) {
  left: 2%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 29s;
}

.background li:nth-child(8) {
  left: 45%;
  width: 122px;
  height: 122px;
  bottom: -122px;
  animation-delay: 28s;
}

.background li:nth-child(9) {
  left: 59%;
  width: 164px;
  height: 164px;
  bottom: -164px;
  animation-delay: 29s;
}



/* Button footer */

.button-yellow {
  --color: #ffb300;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  color: #ffb300;
  z-index: 1;
}


@media only screen and (min-width: 315px) and (max-width: 900px) {
  .button-yellow {
    --color: #ffb300;
    padding: 0.8em 1.7em;
    background-color: #ffb300;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
  }
}


.button-yellow::before,
.button-yellow::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #ffb300;
  transition: 1s ease;
}


.button-yellow::before {
  top: -1em;
  left: -1em;
}


.button-yellow::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}



.button-yellow:hover::before,
.button-yellow:hover::after {
  height: 410px;
  width: 410px;
}



.button-yellow:hover {
  color: #ffb300;
}



.button-yellow:active {
  filter: brightness(.8);
}



/* Button homepage */
.button-home {
  --color: #ffb300;
  padding: 0.8em 1.7em;
  background-color: #ffb300;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  color: white;
  z-index: 1;
}

.button-home::before,
.button-home::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: white;
  transition: 1s ease;
}

.button-home::before {
  top: -1em;
  left: -1em;
}

.button-home::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button-home:hover::before,
.button-home:hover::after {
  height: 410px;
  width: 410px;
}

.button-home:hover a {
  color: #335c67;
}

.button-home:active {
  filter: brightness(.8);
}

.button-home>a:hover {
  color: #335c67;
}

.button-home>a {
  color: white;
}

.button-home>a:hover,
.button-home:hover {
  color: #335c67;
}

.bg-custom-all {
  background-color: #335c67;
}

.min-width-custom {
  min-width: 20px;
}

/* MEDIAQURIES LANG */

@media only screen and (min-width: 315px) and (max-width: 900px) {

  .lang {
    border: none !important;
  }
}

@media only screen and (min-width: 315px) and (max-width: 900px) {

  .lang>li {
    left: 60px;
    bottom: 53px;
    display: inline;
    border: none !important;
    background-color: transparent !important;
  }
}

.lang>li {
  border: none !important;
  background-color: transparent !important;
}

.dropdown>.btn {
  border: none !important;
}